@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,100&display=swap');

* {

}

body {
    font-family: 'Roboto', 'sans-serif';
}

header, footer {
    background-color: #1F2937;
}

.nav-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}